<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.iblur.study.security.mapper.SecurityMapper">
    <resultMap id="AuthUserResultMap" type="me.iblur.study.security.model.AuthUser">
        <id column="ID" property="id" jdbcType="DECIMAL"/>
        <result column="USERNAME" property="username" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <result column="ENABLED" property="enabled" jdbcType="BOOLEAN"/>
        <result column="LOCKED" property="locked" jdbcType="BOOLEAN"/>
        <result column="EXPIRED" property="expired" jdbcType="BOOLEAN"/>
        <collection property="roles" javaType="java.util.List" ofType="me.iblur.study.security.model.Role">
            <result column="ROLE_NAME" property="name" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
</mapper>